.DS_Store
.idea/
desktop.ini
node_modules/

# Screenshot stuff.
_long/
_short/
_manifest.json

# Used to make development easier.
cycles_update/
fme/
rdo/

# Our credentials, don't bother removing this, you won't get our stuff. ;-)
.env
crowdin.yml
