@font-face {
    font-family: Hapna;
    src: url(../fonts/hapna.woff2) format("woff2"), url(../fonts/hapna.woff) format("woff"), url(../fonts/hapna.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
    text-rendering: optimizeLegibility
}

*, *:before, *:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 16px;
    font-family: Hapna, serif;
}

h1 {
    font-size: 14px
}

h2 {
    margin: 0 0 5px;
    text-align: center;
}

h3 {
    text-align: center;
    font-size: 24px;
    margin: 0;
}

h4 {
    text-align: center;
    font-size: 20px;
    margin: 15px 0 0 0;
}

p {
    margin: 0!important;
}
.map-alert {
    background: darkred;
    color: #fff;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 9999;
    padding: 10px;
    text-align: center;
}
.map-alert .close-button {
    position: absolute;
    top: 0;
    right: 15px;
    font-size: 27px;
    border: none;
    margin: 0;
    padding: 0;
    background-color: transparent;
}
#map {
    background: #d2b790;
    width: 100%;
    width: 100vw;
    height: 100%;
    height: 100vh;
    font-family: Hapna, serif;
    font-size: 13px;
}

#map h1 {
    font-size: 15px;
    text-align: center;
}

.tool-type {
    vertical-align: bottom;
    padding-right: 5px;
}

#countdown, #item-counter {
    font-size: 16px;
    line-height: 1.7;
    user-select: none;
}

.timer-container {
    position: fixed;
    z-index: 9999;
    background: #111;
    border: 1px solid #888;
    color: #eee;
    left: 40px;
    top: 5px;
    width: 95px;
    height: 30px;
    transition: all 200ms ease-out;
    padding-left: 8px;
    display: inline-flex;
}

#day-cycle {
    width: 16px;
    height: 16px;
    margin: auto 4px auto auto;
}

.counter-container {
    position: fixed;
    z-index: 9999;
    background: #111;
    border: 1px solid #888;
    color: #eee;
    left: 125px;
    top: 5px;
    width: 80px;
    height: 30px;
    transition: all 200ms ease-out;
    display: none;
}

.remove-button {
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    user-select: none;    
    margin-top: 8px;
}

.marker-popup-buttons {
    display: flex;
    justify-content: space-between;
}

.marker-popup-buttons small {
    font-size: 15px;
}

.hide-show-container, .custom-routes-container {
    display: flex;
    justify-content: space-around;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    padding: 10px 0;
    margin: 15px 0;
}

.hide-show-container a, .custom-routes-container a {
    color: #eee;
    text-decoration: none;
}

.hide-show-container a:hover, .custom-routes-container a:hover {
    text-decoration: underline;
}

.search-container, .settings-container, .routes-container {
    padding: 0 10px;
    margin: 5px 0;
}

.input-search {
    background-color: #383838;
    border: none;
    padding: 5px;
    color: #f0f0f0;
    font-size: 14px;
    width: 100%;
}

.input-container {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
}

.input-day {
    background: #383838;
    border: none;
    padding: 5px 10px;
    color: #f0f0f0;
    font-size: 14px;
    height: 100%;
}

.issues-container a {
    display: block;
    color: #eee;
    text-align: center;
}

.donate-container {
    display: block;
    color: #eee;
    text-align: center;
}

.menu-toggle {
    width: 30px;
    height: 30px;
    background: #111;
    border: 1px solid #888;
    position: fixed;
    z-index: 1000;
    left: 5px;
    top: 5px;
    color: #eee;
    text-align: center;
    line-height: 1.85;
    user-select: none;
    cursor: pointer;
}

.side-menu {
    width: 100%;
    background: #000 url('https://s.rsg.sc/sc/images/games/RDR2/bg.jpg');
    box-shadow: 1px 0 2px 0 rgba(85, 85, 85, 0.85);
    position: fixed;
    top: -1800px;
    left: 0;
    overflow: auto;
    height: 100%;
    height: 100vh;
    color: #eee;
    z-index: 999;
    padding-top: 10px;
}

.menu-opened {
    top: 0;
}

.side-menu, .menu-toggle {
    transition: all 200ms ease-out;
}

.side-menu .collectables-counter {
    text-align: center;
}

.side-menu .menu-option {
    display: flex;
    align-items: start;
    padding: 0 5px;
    user-select: none;
    cursor: pointer;
    line-height: 36px;
}

.side-menu .menu-option:hover, .side-menu .menu-hidden .collectible:hover {
    background: rgba(255, 255, 255, 0.1);
}

.side-menu .disabled {
    color: #6a6a6a;
    text-decoration: line-through;
}
.side-menu .not-found {
    color: darkred;
}

.side-menu .menu-option .icon {
    width: 35px;
    margin-top: 6px;
    margin-bottom: -3px;
}

.side-menu .open-submenu {
    width: 25px;
    height: 25px;
    background: url(../images/arrow.png);
    margin: auto 0 auto auto;
}

.side-menu .menu-hidden {
    max-height: 0;
    overflow: hidden;
    transition: max-height 200ms ease-out;
}

.side-menu .menu-hidden.opened {
    max-height: 2000px;
    transition: max-height 400ms ease-out;
}

.side-menu .menu-hidden .collection-value {
    text-align: center;
    border-top: 1px white solid;
    border-bottom: 1px white solid;
    padding: 5px 0;    
    display: flex;
    justify-content: space-around;
}
.side-menu .menu-hidden .collection-sell {
    cursor: pointer;
    user-select: none;
}
.side-menu .menu-hidden .collectible {
    padding: 5px 25px;
    cursor: pointer;
    user-select: none;
    display: flex;
    justify-content: space-between;
    font-size: 15px;
}

.lat-lng-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 200px;
    margin: 0 calc(50% - 100px) 20px;
    z-index: 990;
    background-color: #FFFAF0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    padding: 13px 2px;
    border-radius: 3px;
    display: none;
}

.lat-lng-container #lat-lng-container-close-button {
    position: absolute;
    top: 0;
    right: 4px;
    font-size: 16px;
    border: none;
    margin: 0;
    padding: 0;
    background-color: transparent;
}

.help-button {
    user-select: none;
    font-size: 14px;
}

.help-button a {
    color: #eee;
}

.help-popup {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, .2);
    z-index: 9999;
    padding: 5%;
    color: #eee;
    display: none;
}

.help-container {
    height: 100%;
    padding: 25px;
    background: #000 url('https://s.rsg.sc/sc/images/games/RDR2/bg.jpg');
    border: 1px solid #eee;
    box-shadow: 0 0 10px 0 black;
}

.help-close {
    width: 15px;
    height: 15px;
    position: relative;
    right: calc(-100% + 20px);
    top: 20px;
    text-align: center;
    user-select: none;
    cursor: pointer;
}

.help-scroll {
    overflow-y: auto;
    height: 100%;
    padding: 10px;
}

/* Fix buttons showing on top of sidebar on mobile menu */

.leaflet-top, .leaflet-bottom {
    z-index: 998;
}

.leaflet-popup-content {
    font-size: 14px;
    margin: 8px;
    display: inline-grid;
}

@media (max-width: 1024px) {
    .timer-menu-opened {
        display: none;
    }
    .counter-menu-opened {
        display: none;
    }
}

@media (min-width: 1025px) {
    .side-menu {
        width: 320px;
        left: -320px;
        top: 0;
    }
    .menu-opened {
        left: 0;
    }
    .timer-menu-opened {
        left: 325px;
    }
    .counter-menu-opened {
        left: 410px;
    }
}